html {
  --tw-gradient-from: #0c1120 var(--tw-gradient-from-position);
  --tw-gradient-to: #0c112000 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

body {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  background-image: linear-gradient(black 0%, #003153 140%);
  background-size: cover;
}

header {
  padding: 1em;
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(15 23 42 / 0.04)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

/* Neon letters from css-tricks.com: https://css-tricks.com/how-to-create-neon-text-with-css/ */
header h1 {
  animation: pulsate 0.11s ease-in-out infinite alternate;
  font-size: 5rem;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
    0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
      0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }

  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
      0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}

header h1:hover {
  text-shadow: 5px 5px 50px pink;
  transition: all ease-in 100ms;
}

a {
  color: white;
}

a:visited {
  color: lightgray;
}

a:hover {
  color: rgb(255, 46, 206);
}
